<div class="logoContainer">
  <img class="logoImg" src="../assets/newswatch1.png" />
</div>

<div class="topStories">
  <div *ngFor="let article of topStories" class="articleContainer">
    <h3 class="articleTitle">
      <a href="{{ article.link }}" target="_blank">
        {{ article.title }}
      </a>
    </h3>
    <div class="splitContainer">
      <div *ngIf="article.image_url" class="articleSplit articleImage">
        <a href="{{ article.link }}" target="_blank">
          <img class="articleImg" src="{{ article.image_url }}" />
        </a>
      </div>
      <div
        [ngClass]="{ articleSplit: article.image_url }"
        class="articleSplit articleSnippet"
      >
        <a href="{{ article.link }}" target="_blank">
          <p>{{ article.content | slice : 0 : 500 }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
