<mat-toolbar>
  <span class="titleDiv">
    <mat-icon fontIcon="language"></mat-icon>
    <h3>
      powered by
      <a href="https://newsdata.io/" class="loginIcon" target="_blank"
        >newsdata.io</a
      >
    </h3>
  </span>
  <span class="toolbar-spacer"></span>
  <mat-icon
    fontIcon="person_outline"
    class="loginIcon"
    (click)="loginClick()"
  ></mat-icon>
  <span class="toolbar-spacer-two"></span>
  <span (click)="getData('en')" class="langChange">en</span>
  <span (click)="getData('fr')" class="langChange">fr</span>
  <span (click)="getData('es')" class="langChange">sp</span>
</mat-toolbar>

<div class="logoContainer">
  <img class="logoImg" src="../assets/newswatch1.png" />
</div>

<div class="topStories">
  <div *ngFor="let article of topStories" class="articleContainer">
    <h3 class="articleTitle">
      <a href="{{ article.link }}" target="_blank">
        {{ article.title }}
      </a>
    </h3>
    <mat-icon fontIcon="star_border" class="starIcon"></mat-icon>
    <div class="splitContainer">
      <div *ngIf="article.image_url" class="articleSplit articleImage">
        <a href="{{ article.link }}" target="_blank">
          <img class="articleImg" src="{{ article.image_url }}" />
        </a>
      </div>
      <div
        [ngClass]="{ articleSplit: article.image_url }"
        class="articleSplit articleSnippet"
      >
        <a href="{{ article.link }}" target="_blank">
          <p>{{ article.content | slice : 0 : 500 }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
